.hotel-onboarding-container {
    max-width:50%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    font-family: sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  .star{
     color: red;
     font-size:11px ;
  }
  p {
    text-align: center;
    color: #666;
    margin-top: 2px;
  }
  
  .hotel-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
    gap:20px;
    display: flex;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  @media (max-width: 800px) {
    .hotel-onboarding-container {
      padding: 10px;
    }
  
    .input-row {
      flex-direction: column;
      gap: 5px;
    }
  } 
  .input-type {
      display: flex;
      gap: 10px;
      margin-top: 1px;
  
    }
    
    .input-group {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    
    .input-group label {
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .input-group input {
      width: 90%;
      padding: 20px 0px 0px 0px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .media-icons{
       padding: 20px;
       display: flex;
       justify-content: center;
    }
    .mac{
        display:flex;
        border:1px solid #cecccc;
        width: 100%;
        max-width: 60px;
        height: 60px;
        align-items: center;
        margin-left: 20px;
        justify-content: center;
        border-radius: 50px;
    }

    .mac-icon{
      font-size: 25px;
    }
    .google{
        display:flex;
        border:1px solid #cecccc;
        width: 100%;
        max-width: 60px;
        height: 60px;
        align-items: center;
        margin-left: 20px;
        justify-content: center;
        border-radius: 50px;
        
    }

    .google-icon{
      font-size: 25px;
      margin-top: 5px;
    }
    .facebook{
        display:flex;
        border:1px solid #cecccc;
        width: 100%;
        max-width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        border-radius: 50px;
    }

    .facebook-icon{
      color: blue;
      font-size: 25px;
      margin-top: 5px;
    }
    .sign-in{
      display: flex;
      justify-content: center;

    }

    .signupp{
      display: flex;
      justify-content: center;
    }

    .line{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 100px;
      height: 0.6px;
      background-color: #dcd5d5;
    }

    .singup-or{
      margin-top: 42px;
      margin-left: 10px;
      font-size: 12px;
      color: #9c9a9a;
      font-weight: 600;
    }

    .linee{
      margin-top: 50px;
      margin-left: 10px;
      width: 100%;
      max-width: 100px;
      height: 0.6px;
      background-color: #dcd5d5;
    }
    .input1 {
      width: 80%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    /* .upload-box{
      width: 100%;
      margin-top: 10px;
      max-width: 200px;
      border-radius: 5px;
      height: 30px;
      border: 1px solid rgb(195, 193, 193);
    } */
    